{#{{ dump() }}#}
{% if is_preview %}
    <h1>Hero</h1>
{% endif %}
{% set base = 'hero' %}
<section class="{{ base }}">
    <div class="container">
        <h1>{{ acf.title }}</h1>
        <div class="{{ base }}__content">
            {{ acf.description }}
            {% if acf.link_primary %}
                <a href="{{ acf.link_primary.url }}" class="button" target="{{ acf.link_primary.target }}">
                    <span>{{ acf.link_primary.title }}</span>
                </a>
            {% endif %}
            {% if acf.link_secondary %}
                <a href="{{ acf.link_secondary.url }}" class="button" target="{{ acf.link_secondary.target }}">
                    <span>{{ acf.link_secondary.title }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</section>