{#{{ dump() }}#}
{% if is_preview %}
    <h1>Hero</h1>
{% endif %}
{% set base = 'hero' %}
<section class="{{ base }} wp-block" data-align="{{ block.align }}">
    <div class="{{ base }}__year"></div>
    <div class="{{ base }}__image" style="background-image: url('{{ acf.image.url }}')"></div>
    <div class="{{ base }}__overlay"></div>
    <div class="container">
        <div class="{{ base }}__content">
            <div id="countdown" class="countdown"></div>
            <h3 class="{{ base }}__title">{{ acf.title }}</h3>
            {{ acf.description }}
            {% if acf.link %}
                <a href="{{ acf.link.url }}" class="{{ base }}__button button" target="{{ acf.link.target }}">
                    <span>{{ acf.link.title }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</section>