{#{{ dump() }}#}
{% set base = 'archivePosts' %}
<section class="{{ base }}">
    <div class="container">
        {% for post in data.posts %}
            <article>
                <figure>
                    <img src="{{ post.image.src }}" alt="{{ post.image.alt }}">
                </figure>
                <a href="{{ post.link }}">
                    <h3>{{ post.title.rendered }}</h3>
                </a>
                <div class="{{ base }}__content">{{ post.post_excerpt }}</div>
            </article>
        {% endfor %}
    </div>
</section>
