{#{{ dump() }}#}
{% if is_preview %}
    <h1>accordion</h1>
{% endif %}
{% set base = 'accordion' %}
<section class="{{ base }}">
    <div class="container">
        <header>
            <h1>{{ acf.title }}</h1>
        </header>
        <article class="{{ base }}__content">
            {% for item in acf.items %}
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            {% endfor %}
        </article>
    </div>
</section>