{#{{ dump() }}#}
{% set base = 'ArchiveSpeakers' %}
<section class="{{ base }}">
    <div class="container">
        <header class="{{ base }}__header">
            <h1 class="{{ base }}__title">2019 Speakers</h1>
        </header>
        <ul class="{{ base }}__items">
            {% for post in posts %}
                {#{{ dump(post) }}#}
                <li class="{{ base }}__item">
                    <a href="{{ post.link }}">
                        <article>
                            <figure class="{{ base }}__image">
                                <img src="{{ post.thumbnail.src }}" class="my-thumb-class"
                                     alt="Image for {{ post.title }}"/>
                            </figure>

                            <div class="{{ base }}__text">
                                <h3 class="{{ base }}__name">{{ post.title }}</h3>
                                <p class="{{ base }}__position">{{ post.position }}</p>
                            </div>
                        </article>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
