{#{{ dump(queried_object) }}#}
{% set base = 'singlesPage' %}
<section class="{{ base }}">
    <div class="container">
        <article>
            <h1>{{ queried_object.post_title }}</h1>
            {{ queried_object.post_content }}
            {{ function('the_content') }}
        </article>
    </div>
</section>
