{% set base = 'header' %}
<header id="{{ base }}" class="{{ base }}">
    <div class="container">
        <div class="{{ base }}__logo">
            <a href="{{ function('get_home_url') | e('esc_url') }}">
                {{ svg_inline('codestock') }}
                {#{{ image({file: 'codestock.png', alt: 'CodeStock2019'}) }}#}
            </a>
        </div>
        <div class="{{ base }}__menu">
            {% include 'views/layouts/menu-primary/menu-primary.twig' %}
            {% include 'views/layouts/menu-secondary/menu-secondary.twig' %}
        </div>
    </div>
</header>
<!-- #{{ base }} -->