{#{{ dump() }}#}
{% set base = 'SinglesPost' %}
<section class="{{ base }}">
    <div class="container">
        <header>
            <a href="">
                <span>Back</span>
            </a>
        </header>
        <article>
            <img alt="{{ image.alt }}" src="{{ image.url }}">
            <h1>{{ post.post_title }}</h1>
            <div class="{{ base }}__content">
                {{ the_content() }}
            </div>
        </article>
    </div>
</section>
